body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/backpic.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: scroll; opacity: 80%;   
}

header{
    text-align: center;
    padding: 20PX;
    background-color: aliceblue;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
     margin-bottom:10px ;

}

section{
    margin: 20px;
}
a:link{
    color: purple;
    text-decoration: none;


}
a:visited{
    color: green;
    background-color: transparent;
    text-decoration: underline;

}
a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;


}
a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;


}
#work, #bio{
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;

}
footer{
    background-color: bisque;
    text-align: center;
    padding: 20px;

}


